$theme-colors: (
  "primary": #ab6f4c,
  "secondary": #2c3e50,
  "beige": #ded5d7,
);

//"orange": #fbbd58

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;400&display=swap");

@font-face {
  font-family: pokemon;
  src: url(pokemon_monk.ttf);
}
@font-face {
  font-family: andy;
  src: url(andy.ttf);
}

html,
body,
#app {
  height: 100%;
  font-family: "Jost";
}

.leaflet-container {
  font-family: "Jost" !important;
}

h1 {
  font-weight: 200;
  text-transform: uppercase;
}

.control-ebird {
  width: 180px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 4px;
  color: #212529;
}
.cursor-pointer {
  cursor: pointer;
}
.pokemon {
  font-family: pokemon;
  line-height: 1em;
}
.andy {
  font-family: andy;
  line-height: 1em;
}
.life-count {
  font-size: 6rem;
  line-height: 0.8;
}

.h-16 {
  height: 16px;
}

.opacity-50 {
  opacity: 50%;
}
