$theme-colors: (
  "primary": #336a6f,
  "secondary": #ef9b34,
  //"third": #77adb7,
  //"beige": #f4f5f5,
  //7e5e3c f5ecee
  "photo": #e4e4e8,
);

//"orange": #fbbd58

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;400&display=swap");

@font-face {
  font-family: pokemon;
  src: url(./assets/pokemon_monk.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: andy;
  src: url(./assets/andy.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

html,
body,
#app {
  height: 100%;
  font-family: "Jost";
}

.leaflet-container {
  font-family: "Jost" !important;
}

h1 {
  font-weight: 200;
  text-transform: uppercase;
}

h2 {
  font-weight: 200;
  text-transform: uppercase;
}

.control-ebird {
  width: 180px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 4px;
  color: #212529;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.pokemon {
  font-family: pokemon;
  line-height: 1em;
}
.andy {
  font-family: andy;
  line-height: 1em;
}

.h-16 {
  height: 16px;
}

.opacity-50 {
  opacity: 65%;
}
.opacity-0 {
  opacity: 0%;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.bg-aba-3 {
  background-color: #011750;
  color: white;
}
.bg-aba-4 {
  background-color: #2e8ac5;
  color: white;
}
.bg-aba-5 {
  background-color: #94970a;
  color: white;
}
